.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/program_app.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Maven__com_alibaba_fastjson_1_2_44.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_core_2_3.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_support_2_3.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_2.xml
.idea/libraries/Maven__com_github_jsqlparser_jsqlparser_1_1.xml
.idea/libraries/Maven__com_github_pagehelper_pagehelper_5_1_4.xml
.idea/libraries/Maven__com_github_pagehelper_pagehelper_spring_boot_autoconfigure_1_2_5.xml
.idea/libraries/Maven__com_github_pagehelper_pagehelper_spring_boot_starter_1_2_5.xml
.idea/libraries/Maven__com_github_qcloudsms_qcloudsms_1_0_6.xml
.idea/libraries/Maven__com_google_guava_guava_20_0.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_5.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_4.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_14.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__io_springfox_springfox_core_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_schema_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_spi_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_spring_web_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger2_2_9_2.xml
.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml
.idea/libraries/Maven__io_swagger_swagger_models_1_5_20.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
.idea/libraries/Maven__javax_persistence_persistence_api_1_0.xml
.idea/libraries/Maven__mysql_mysql_connector_java_8_0_21.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_14.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_14.xml
.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_9.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_13.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_9.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
.idea/libraries/Maven__org_apache_shiro_shiro_cache_1_6_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_config_core_1_6_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_config_ogdl_1_6_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_core_1_6_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_crypto_cipher_1_6_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_crypto_core_1_6_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_crypto_hash_1_6_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_event_1_6_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_lang_1_6_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_spring_1_6_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_web_1_6_0.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_38.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_38.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_assertj_assertj_core_3_16_1.xml
.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
.idea/libraries/Maven__org_json_json_20170516.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_6_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_6_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_6_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_6_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_6_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_6_2.xml
.idea/libraries/Maven__org_mapstruct_mapstruct_1_2_0_Final.xml
.idea/libraries/Maven__org_mockito_mockito_core_3_3_3.xml
.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_3_3.xml
.idea/libraries/Maven__org_mybatis_mybatis_3_4_6.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_3_2.xml
.idea/libraries/Maven__org_mybatis_spring_boot_mybatis_spring_boot_autoconfigure_1_3_2.xml
.idea/libraries/Maven__org_mybatis_spring_boot_mybatis_spring_boot_starter_1_3_2.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
.idea/libraries/Maven__org_owasp_encoder_encoder_1_2_2.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_8.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_9_RELEASE.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_26.xml
.idea/libraries/Maven__tk_mybatis_mapper_base_1_0_5.xml
.idea/libraries/Maven__tk_mybatis_mapper_core_1_0_5.xml
.idea/libraries/Maven__tk_mybatis_mapper_extra_1_0_5.xml
.idea/libraries/Maven__tk_mybatis_mapper_spring_1_0_5.xml
.idea/libraries/Maven__tk_mybatis_mapper_spring_boot_autoconfigure_2_0_4.xml
.idea/libraries/Maven__tk_mybatis_mapper_spring_boot_starter_2_0_4.xml
.idea/libraries/Maven__tk_mybatis_mapper_weekend_1_1_4_1.xml
logs/program_app.log.2020-12-19.0.log
logs/program_app.log.2020-12-25.0.log
target/program_app-0.0.1-SNAPSHOT.jar
target/program_app-0.0.1-SNAPSHOT.jar.original
target/classes/application.properties
target/classes/com/wechat/program/app/ProgramAppApplication.class
target/classes/com/wechat/program/app/config/LoginHandlerInterceptor.class
target/classes/com/wechat/program/app/config/SmsConfig.class
target/classes/com/wechat/program/app/config/SwaggerConfig.class
target/classes/com/wechat/program/app/config/WebMvcConfig.class
target/classes/com/wechat/program/app/constant/Constants.class
target/classes/com/wechat/program/app/constant/PermissionConstant.class
target/classes/com/wechat/program/app/controller/AppComboController.class
target/classes/com/wechat/program/app/controller/AppUserController.class
target/classes/com/wechat/program/app/controller/DeskController.class
target/classes/com/wechat/program/app/controller/LoginController.class
target/classes/com/wechat/program/app/core/AjaxResult.class
target/classes/com/wechat/program/app/core/IBaseMapper.class
target/classes/com/wechat/program/app/core/IEntity.class
target/classes/com/wechat/program/app/core/IService.class
target/classes/com/wechat/program/app/entity/AppCombo.class
target/classes/com/wechat/program/app/entity/AppDesk.class
target/classes/com/wechat/program/app/entity/AppDeskUser.class
target/classes/com/wechat/program/app/entity/AppPermission.class
target/classes/com/wechat/program/app/entity/AppRole.class
target/classes/com/wechat/program/app/entity/AppRolePermission.class
target/classes/com/wechat/program/app/entity/AppUser.class
target/classes/com/wechat/program/app/entity/AppUserCombo.class
target/classes/com/wechat/program/app/entity/AppUserRole.class
target/classes/com/wechat/program/app/entity/BaseEntity.class
target/classes/com/wechat/program/app/exception/BDExceptionHandler.class
target/classes/com/wechat/program/app/exception/ProgramException.class
target/classes/com/wechat/program/app/mapper/AppComboMapper.class
target/classes/com/wechat/program/app/mapper/AppDeskMapper.class
target/classes/com/wechat/program/app/mapper/AppDeskUserMapper.class
target/classes/com/wechat/program/app/mapper/AppPermissionMapper.class
target/classes/com/wechat/program/app/mapper/AppRoleMapper.class
target/classes/com/wechat/program/app/mapper/AppRolePermissionMapper.class
target/classes/com/wechat/program/app/mapper/AppUserComboMapper.class
target/classes/com/wechat/program/app/mapper/AppUserMapper.class
target/classes/com/wechat/program/app/mapper/AppUserRoleMapper.class
target/classes/com/wechat/program/app/request/AppComboDTO.class
target/classes/com/wechat/program/app/request/AppDeskUserDTO.class
target/classes/com/wechat/program/app/request/AppDeskUserStatusDTO.class
target/classes/com/wechat/program/app/request/AppUserDTO.class
target/classes/com/wechat/program/app/request/SendSmsDto.class
target/classes/com/wechat/program/app/request/UserLoginDTO.class
target/classes/com/wechat/program/app/request/VerifyCodeDto.class
target/classes/com/wechat/program/app/service/ABaseService.class
target/classes/com/wechat/program/app/service/AppComboService.class
target/classes/com/wechat/program/app/service/AppDeskService.class
target/classes/com/wechat/program/app/service/AppDeskUserService.class
target/classes/com/wechat/program/app/service/AppPermissionService.class
target/classes/com/wechat/program/app/service/AppRolePermissionService.class
target/classes/com/wechat/program/app/service/AppRoleService.class
target/classes/com/wechat/program/app/service/AppUserComboService.class
target/classes/com/wechat/program/app/service/AppUserRoleService.class
target/classes/com/wechat/program/app/service/AppUserService.class
target/classes/com/wechat/program/app/service/BaseService.class
target/classes/com/wechat/program/app/service/SmsService.class
target/classes/com/wechat/program/app/service/impl/AppComboServiceImpl.class
target/classes/com/wechat/program/app/service/impl/AppDeskServiceImpl.class
target/classes/com/wechat/program/app/service/impl/AppDeskUserServiceImpl.class
target/classes/com/wechat/program/app/service/impl/AppPermissionServiceImpl.class
target/classes/com/wechat/program/app/service/impl/AppRolePermissionServiceImpl.class
target/classes/com/wechat/program/app/service/impl/AppRoleServiceImpl.class
target/classes/com/wechat/program/app/service/impl/AppUserComboServiceImpl.class
target/classes/com/wechat/program/app/service/impl/AppUserRoleServiceImpl.class
target/classes/com/wechat/program/app/service/impl/AppUserServiceImpl.class
target/classes/com/wechat/program/app/service/impl/SmsServiceImpl.class
target/classes/com/wechat/program/app/support/SpringContextHolder.class
target/classes/com/wechat/program/app/utils/DateUtil.class
target/classes/com/wechat/program/app/utils/SHAUtil.class
target/classes/com/wechat/program/app/utils/ShiroUtils.class
target/classes/com/wechat/program/app/utils/SmsUtil.class
target/classes/com/wechat/program/app/vo/AppDeskVo.class
target/classes/com/wechat/program/app/vo/AppUserVo.class
target/classes/com/wechat/program/app/vo/UserConsumptionStatisticsVO.class
target/classes/log/logback.xml
target/classes/mapping/AppComboMapper.xml
target/classes/mapping/AppDeskMapper.xml
target/classes/mapping/AppDeskUserMapper.xml
target/classes/mapping/AppPermissionMapper.xml
target/classes/mapping/AppRoleMapper.xml
target/classes/mapping/AppRolePermissionMapper.xml
target/classes/mapping/AppUserComboMapper.xml
target/classes/mapping/AppUserMapper.xml
target/classes/mapping/AppUserRoleMapper.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/com.wechat.program.app.ProgramAppApplicationTests.txt
target/surefire-reports/TEST-com.wechat.program.app.ProgramAppApplicationTests.xml
target/test-classes/com/wechat/program/app/ProgramAppApplicationTests.class
