<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.program.app.mapper.AppComboMapper">
    <resultMap id="BaseResultMap"
               type="com.wechat.program.app.entity.AppCombo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="duration" jdbcType="INTEGER" property="duration"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
      id,name,amount,duration,create_time, update_time
  </sql>


    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from app_combo
        where
        name = #{name}
    </select>
</mapper>