<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.program.app.mapper.AppUserRoleMapper">
    <resultMap id="BaseResultMap"
               type="com.wechat.program.app.entity.AppUserRole">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
    </resultMap>

    <sql id="Base_Column_List">
      user_id, role_id
  </sql>


    <select id="selectRoleIdByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        role_id
        from
        app_user_role
        where user_id = #{userId}
    </select>

</mapper>