<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.program.app.mapper.AppUserMapper">
    <resultMap id="BaseResultMap"
               type="com.wechat.program.app.entity.AppUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="member" jdbcType="BIT" property="member"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="total_time" jdbcType="INTEGER" property="totalTime"/>
        <result column="present_time" jdbcType="INTEGER" property="presentTime"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="current_integral" jdbcType="INTEGER" property="currentIntegral"/>
        <result column="coupon" jdbcType="INTEGER" property="coupon"/>
        <result column="validity_volume" jdbcType="TIMESTAMP" property="validityVolume"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
      id,name,phone,member,sex,current_integral,coupon,password, type,total_time, token, present_time, birthday, validity_volume,create_time, update_time
  </sql>

    <sql id="Column_List" >
        id,name,phone,member,sex,current_integral,coupon, type, token,total_time, present_time, birthday, validity_volume,create_time, update_time
    </sql>


    <select id="selectByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Column_List"></include>
        from
        app_user
        where (name LIKE concat('%',#{keyword} ,'%') or phone LIKE concat('%',#{keyword} ,'%') )
        AND member = 1 AND type = 0
    </select>

    <select id="selectMembers" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        app_user
        where member = #{type}
        and type = 0
    </select>

    <select id="selectNameAndPassword" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        app_user
        where name = #{name}
        and password = #{passWord}
    </select>

    <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        app_user
        where phone = #{phone}
    </select>

    <select id="getComboOfDuration" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
         c.duration
        from
        app_user as u inner  join app_user_combo as uc on  u.id = uc.user_id
        inner  join app_combo as c on c.id = uc.combo_id
        where u.id = #{userId}
        and uc.used = 1
    </select>

    <select id="selectListByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        app_user
        where type = #{type}
    </select>

    <select id="selectNoMembersByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        app_user
        where phone = #{phone} AND member = 0 AND type != 0
    </select>

    <select id="selectByToken" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
         count(*)
        from
        app_user
        where token = #{token} AND member = 0 AND type != 0
    </select>

    <update id="updateToken" parameterType="com.wechat.program.app.entity.AppUser">
        update app_user
        <set>
            token = #{token}
        </set>
        where id = #{id}
    </update>

    <select id="selectByTokenAndPermissionCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1) FROM app_user AS u INNER JOIN app_user_role AS ur ON u.id = ur.user_id
        INNER JOIN app_role_permission AS rm ON rm.role_id = ur.role_id
        LEFT JOIN app_permission as p ON rm.permission_id = p.id
        WHERE token = #{token} AND p.`code`= #{code}
    </select>

    <select id="selectByPhoneAndPassword" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        app_user
        where phone = #{phone} AND password = #{password}
    </select>
</mapper>